.container {
  border-radius: 30px;
  background-color: white;
  width: 45rem;
  .btn-primary {
    color: white;
    background-color: #fdc9ce;
    border-color: #fdc9ce;
    font-weight: bold;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    &:hover {
      color: #fdc9ce;
      background-color: white;
      border-color: #fdc9ce;
      box-shadow: 0px 5px 10px#fdc9ce;
      transform: translateY(-3px);
    }
  }
  .btn-dark {
    background-color: #082032;
    border-color: #082032;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    &:hover {
      color: #082032;
      background-color: white;
      border-color: #082032;
      box-shadow: 0px 5px 10px #082032;
      transform: translateY(-3px);
    }
  }
}
