<h1 class="my-4 py-4 mx-5">VISIT OUR STORES</h1>
    <div class="container">
        <div class="card">
            <img src="https://i.picsum.photos/id/101/2621/1747.jpg?hmac=cu15YGotS0gIYdBbR1he5NtBLZAAY6aIY5AbORRAngs">
            <div class="card-body">
                <div class="card-tess">
                    <h5 class="card-title">Name store</h5>
                    <p class="card-text">Address of store</p>
                </div>
                <div class="card-st">
                    <p class="card-text">All products available instore and online</p>
                    <button class="btn btn-outline-info rounded-pill" [routerLink]="['/pages/shop/all']">Shop now</button>
                </div>
                <a href="https://www.google.it/maps/place/3510-621+Fail,+Portogallo/@40.6077445,-7.9783954,17.38z/data=!4m5!3m4!1s0xd2339f38cd20bad:0x8e69f6d7c8e2def2!8m2!3d40.6078641!4d-7.9770136" class="btn btn-outline-success rounded-pill" target="_blank">Show on map</a>
            </div>
        </div>    
        <div class="card">
            <img src="https://i.picsum.photos/id/1033/2048/1365.jpg?hmac=zEuPfX7t6U866nzXjWF41bf-uxkKOnf1dDrHXmhcK-Q">
            <div class="card-body">
                <div class="card-tess">
                    <h5 class="card-title">Name store</h5>
                    <p class="card-text">Address of store</p>
                </div>
                <div class="card-st">
                    <p class="card-text">All products available instore and online</p>
                    <button class="btn btn-outline-info rounded-pill" [routerLink]="['/pages/shop']">Shop now</button>
                </div>
                <a href="https://www.google.it/maps/place/3510-621+Fail,+Portogallo/@40.6077445,-7.9783954,17.38z/data=!4m5!3m4!1s0xd2339f38cd20bad:0x8e69f6d7c8e2def2!8m2!3d40.6078641!4d-7.9770136" class="btn btn-outline-success rounded-pill" target="_blank">Show on map</a>
            </div>
        </div>    
        <div class="card">
            <img src="https://i.picsum.photos/id/1040/4496/3000.jpg?hmac=kvZONlBpTcZ16PuE_g2RWxlicQ5JKVq2lqqZndfafBY">
            <div class="card-body">
                <div class="card-tess">
                    <h5 class="card-title">Name store</h5>
                    <p class="card-text">Address of store</p>
                </div>
                <div class="card-st">
                    <p class="card-text">All products available instore and online</p>
                    <button class="btn btn-outline-info rounded-pill" [routerLink]="['/pages/shop']">Shop now</button>
                </div>
                <a href="https://www.google.it/maps/place/3510-621+Fail,+Portogallo/@40.6077445,-7.9783954,17.38z/data=!4m5!3m4!1s0xd2339f38cd20bad:0x8e69f6d7c8e2def2!8m2!3d40.6078641!4d-7.9770136" class="btn btn-outline-success rounded-pill" target="_blank">Show on map</a>
            </div>
        </div>    
        <div class="card">
            <img src="https://i.picsum.photos/id/1047/3264/2448.jpg?hmac=ksy0K4uGgm79hAV7-KvsfHY2ZuPA0Oq1Kii9hqkOCfU">
            <div class="card-body">
                <div class="card-tess">
                    <h5 class="card-title">Name store</h5>
                    <p class="card-text">Address of store</p>
                </div>
                <div class="card-st">
                    <p class="card-text">All products available instore and online</p>
                    <button class="btn btn-outline-info rounded-pill" [routerLink]="['/pages/shop']">Shop now</button>
                </div>
                <a href="https://www.google.it/maps/place/3510-621+Fail,+Portogallo/@40.6077445,-7.9783954,17.38z/data=!4m5!3m4!1s0xd2339f38cd20bad:0x8e69f6d7c8e2def2!8m2!3d40.6078641!4d-7.9770136" class="btn btn-outline-success rounded-pill" target="_blank">Show on map</a>
            </div>
        </div>   
        <div class="card">
            <img src="https://i.picsum.photos/id/1078/3000/2000.jpg?hmac=kI-4ittyvRAG5-z9urHPPBQ4kDNJ4ItiEw6-NagOy10">
            <div class="card-body">
                <div class="card-tess">
                    <h5 class="card-title">Name store</h5>
                    <p class="card-text">Address of store</p>
                </div>
                <div class="card-st">
                    <p class="card-text">All products available instore and online</p>
                    <button class="btn btn-outline-info rounded-pill" [routerLink]="['/pages/shop']">Shop now</button>
                </div>
                <a href="https://www.google.it/maps/place/3510-621+Fail,+Portogallo/@40.6077445,-7.9783954,17.38z/data=!4m5!3m4!1s0xd2339f38cd20bad:0x8e69f6d7c8e2def2!8m2!3d40.6078641!4d-7.9770136" class="btn btn-outline-success rounded-pill" target="_blank">Show on map</a>
            </div>
        </div>      
        <div class="card">
            <img src="https://i.picsum.photos/id/122/4147/2756.jpg?hmac=-B_1uAvYufznhjeA9xSSAJjqt07XrVzDWCf5VDNX0pQ">
            <div class="card-body">
                <div class="card-tess">
                    <h5 class="card-title">Name store</h5>
                    <p class="card-text">Address of store</p>
                </div>
                <div class="card-st">
                    <p class="card-text">All products available instore and online</p>
                    <button class="btn btn-outline-info rounded-pill" [routerLink]="['/pages/shop']">Shop now</button>
                </div>
                <a href="https://www.google.it/maps/place/3510-621+Fail,+Portogallo/@40.6077445,-7.9783954,17.38z/data=!4m5!3m4!1s0xd2339f38cd20bad:0x8e69f6d7c8e2def2!8m2!3d40.6078641!4d-7.9770136" class="btn btn-outline-success rounded-pill" target="_blank">Show on map</a>
            </div>
        </div>      
</div>