<h1 class="my-4 py-4 mx-5 text-center">VISIT OUR STORES.</h1>
    <div class="container">
        <div class="card">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#F0EBE3"></rect><text x="50%" y="50%" fill="#2C3639" dy=".3em">Image cap</text></svg>
            <div class="card-body">
                <div class="card-tess">
                    <h5 class="card-title">Name store</h5>
                    <p class="card-text">Address of store</p>
                </div>
                <div class="card-st">
                    <p class="card-text">All products available instore and online</p>
                    <button class="btn btn-outline-info rounded-pill" [routerLink]="['/pages/shop']">Shop now</button>
                </div>
                <a href="https://www.google.it/maps/place/3510-621+Fail,+Portogallo/@40.6077445,-7.9783954,17.38z/data=!4m5!3m4!1s0xd2339f38cd20bad:0x8e69f6d7c8e2def2!8m2!3d40.6078641!4d-7.9770136" class="btn btn-outline-success rounded-pill" target="_blank">Show on map</a>
            </div>
        </div>    
        <div class="card">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#F0EBE3"></rect><text x="50%" y="50%" fill="#2C3639" dy=".3em">Image cap</text></svg>
            <div class="card-body">
                <div class="card-tess">
                    <h5 class="card-title">Name store</h5>
                    <p class="card-text">Address of store</p>
                </div>
                <div class="card-st">
                    <p class="card-text">All products available instore and online</p>
                    <button class="btn btn-outline-info rounded-pill" [routerLink]="['/pages/shop']">Shop now</button>
                </div>
                <a href="https://www.google.it/maps/place/3510-621+Fail,+Portogallo/@40.6077445,-7.9783954,17.38z/data=!4m5!3m4!1s0xd2339f38cd20bad:0x8e69f6d7c8e2def2!8m2!3d40.6078641!4d-7.9770136" class="btn btn-outline-success rounded-pill" target="_blank">Show on map</a>
            </div>
        </div>    
        <div class="card">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#F0EBE3"></rect><text x="50%" y="50%" fill="#2C3639" dy=".3em">Image cap</text></svg>
            <div class="card-body">
                <div class="card-tess">
                    <h5 class="card-title">Name store</h5>
                    <p class="card-text">Address of store</p>
                </div>
                <div class="card-st">
                    <p class="card-text">All products available instore and online</p>
                    <button class="btn btn-outline-info rounded-pill" [routerLink]="['/pages/shop']">Shop now</button>
                </div>
                <a href="https://www.google.it/maps/place/3510-621+Fail,+Portogallo/@40.6077445,-7.9783954,17.38z/data=!4m5!3m4!1s0xd2339f38cd20bad:0x8e69f6d7c8e2def2!8m2!3d40.6078641!4d-7.9770136" class="btn btn-outline-success rounded-pill" target="_blank">Show on map</a>
            </div>
        </div>    
        <div class="card">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#F0EBE3"></rect><text x="50%" y="50%" fill="#2C3639" dy=".3em">Image cap</text></svg>
            <div class="card-body">
                <div class="card-tess">
                    <h5 class="card-title">Name store</h5>
                    <p class="card-text">Address of store</p>
                </div>
                <div class="card-st">
                    <p class="card-text">All products available instore and online</p>
                    <button class="btn btn-outline-info rounded-pill" [routerLink]="['/pages/shop']">Shop now</button>
                </div>
                <a href="https://www.google.it/maps/place/3510-621+Fail,+Portogallo/@40.6077445,-7.9783954,17.38z/data=!4m5!3m4!1s0xd2339f38cd20bad:0x8e69f6d7c8e2def2!8m2!3d40.6078641!4d-7.9770136" class="btn btn-outline-success rounded-pill" target="_blank">Show on map</a>
            </div>
        </div>   
        <div class="card">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#F0EBE3"></rect><text x="50%" y="50%" fill="#2C3639" dy=".3em">Image cap</text></svg>
            <div class="card-body">
                <div class="card-tess">
                    <h5 class="card-title">Name store</h5>
                    <p class="card-text">Address of store</p>
                </div>
                <div class="card-st">
                    <p class="card-text">All products available instore and online</p>
                    <button class="btn btn-outline-info rounded-pill" [routerLink]="['/pages/shop']">Shop now</button>
                </div>
                <a href="https://www.google.it/maps/place/3510-621+Fail,+Portogallo/@40.6077445,-7.9783954,17.38z/data=!4m5!3m4!1s0xd2339f38cd20bad:0x8e69f6d7c8e2def2!8m2!3d40.6078641!4d-7.9770136" class="btn btn-outline-success rounded-pill" target="_blank">Show on map</a>
            </div>
        </div>      
        <div class="card">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#F0EBE3"></rect><text x="50%" y="50%" fill="#2C3639" dy=".3em">Image cap</text></svg>
            <div class="card-body">
                <div class="card-tess">
                    <h5 class="card-title">Name store</h5>
                    <p class="card-text">Address of store</p>
                </div>
                <div class="card-st">
                    <p class="card-text">All products available instore and online</p>
                    <button class="btn btn-outline-info rounded-pill" [routerLink]="['/pages/shop']">Shop now</button>
                </div>
                <a href="https://www.google.it/maps/place/3510-621+Fail,+Portogallo/@40.6077445,-7.9783954,17.38z/data=!4m5!3m4!1s0xd2339f38cd20bad:0x8e69f6d7c8e2def2!8m2!3d40.6078641!4d-7.9770136" class="btn btn-outline-success rounded-pill" target="_blank">Show on map</a>
            </div>
        </div>      
</div>