<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" aria-current="true" [routerLink]="['/account']"
          >Profile</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/account/update']">Update</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/account/orders']">Orders</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h1 class="text-center">ACCOUNT SETTINGS</h1>
    <div class="container my-5 py-5">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <div class="form">
            <form
              #updateForm="ngForm"
              class="form"
              (ngSubmit)="updateForm.form.valid && onSubmit()"
              novalidate
            >
              <div class="form-group my-3">
                <label>First Name</label>
                <input
                  type="text"
                  name="firstname"
                  #firstname="ngModel"
                  class="form-control"
                  [(ngModel)]="user.firstname"
                  placeholder="Firstname"
                  required
                />
              </div>
              <!-- <span
                class="text-danger"
                *ngIf="(firstname.touched || updateForm.submitted) && firstname.errors?.['required']"
              >
                Firstname is required
              </span> -->
              <div
                class="alert alert-danger"
                *ngIf="(firstname.touched || updateForm.submitted) && firstname.errors?.['required']"
                role="alert"
              >
                Firstname is required
              </div>
              <div class="form-group my-3">
                <label>Last Name</label>
                <input
                  type="text"
                  name="lastname"
                  #lastname="ngModel"
                  class="form-control"
                  [(ngModel)]="user.lastname"
                  placeholder="Lastname"
                  required
                />
              </div>
              <!-- <span
                class="text-danger"
                *ngIf="(lastname.touched || updateForm.submitted) && lastname.errors?.['required']"
              >
                Lastname is required
              </span> -->
              <div
                class="alert alert-danger"
                *ngIf="(lastname.touched || updateForm.submitted) && lastname.errors?.['required']"
                role="alert"
              >
                Lastname is required
              </div>
              <div class="form-group my-3">
                <label>Email</label>
                <input
                  type="email"
                  name="email"
                  #email="ngModel"
                  class="form-control"
                  [(ngModel)]="user.email"
                  placeholder="Email"
                  required
                  email
                />
              </div>
              <!-- <span
                class="text-danger"
                *ngIf="(email.touched || updateForm.submitted) && email.errors?.['required']"
              >
                Email is required
              </span>
              <span
                class="text-danger"
                *ngIf="email.touched && email.errors?.['email']"
              >
                Enter a valid email address
              </span> -->
              <div
                class="alert alert-danger"
                *ngIf="(email.touched || updateForm.submitted) && email.errors?.['required']"
                role="alert"
              >
                Email is required
              </div>
              <div
                class="alert alert-danger"
                *ngIf="email.touched && email.errors?.['email']"
                role="alert"
              >
                Enter a valid email address
              </div>
              <div class="text-center">
                <button
                  type="submit"
                  [disabled]="!updateForm.form.valid"
                  class="btn btn-primary send-button tx-tfm rounded-pill"
                  (click)="editUser()"
                >
                  Update
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
