.card{
    margin-top:10%;
    margin-bottom:10%;
    .card-body{
        .conteiner-g{
            padding: 2%;
            border: 2px black solid;
            width: 500px;
            .btn-danger{
                &:hover{
                    color: red;
                    background-color: white;
                    border-color: red;
                }
            }
        }
        .conteiner-a{
            padding: 2%;
            border: 2px black solid;
            width: 500px;
            a{
                display: block;
                padding: 10%;
                margin-top: 50%;
                text-align: center;
                text-decoration: none;
                .span-first{
                    .span-second{
                        position: absolute;
                        top: 50%;
                        right: 20%; 
                        .plus{
                            font-size:xx-large;
                        }
                    }

                }

            }
        }
    }
}
