/*general style*/
h1, h2, h3, h4, h5, h6{
    font-weight: bold;
}

a{
    color: red;
    text-decoration: none;
}
a:hover{
    color: blue;
}

/* header*/
#header{
    background-color: blue;
    height: 120px;
}

#main-nav li{
    display: inline-block;
    background-color: white;
    margin-left: -4px;
    padding: 5px;
    text-align: center;
    width: calc(100% / 3 - 10px);
}
#header li:hover{
    background-color: gray;


}
#header li:hover a{
    color: yellow;
}

#prima-section{
    padding: 50px 0;
    background-image: url(https://picsum.photos/300/200);/*se limmagine ce labbiamo in una cartella dato che siamo in css possiamo usare ../ per tornare alla cartella che vogiamo*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
}
h1.site-title{
    font-size: 2rem;
    color: white;
}


