<mat-toolbar color="primary" class="app-header">
    <div><a>Movies</a></div>
    <div class="example-button-row">
        <a mat-button mat-raised-button [routerLink]="['/home/profilo']" id="bottone">Profilo</a>
        <button mat-raised-button color="warn" id="bottone"(click)="logout()">Logout</button>
      </div>  
  </mat-toolbar>

  <mat-card class="example-card">
  <mat-card-header>
  </mat-card-header>
  <img mat-card-image src="https://image.tmdb.org/t/p/w500/kve20tXwUZpu4GUX8l6X7Z4jmL6.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
    <mat-card-header>
    </mat-card-header>
    <img mat-card-image src="http://image.tmdb.org/t/p/w500/mS4EvhsrT0SQZOlWrQEzWI5KiUa.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
    </mat-card-header>
    <img mat-card-image src="https://image.tmdb.org/t/p/w500/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
    </mat-card-header>
    <img mat-card-image src="http://image.tmdb.org/t/p/w500/9p10J9Xp7MuaVac56g8BwAuXEsA.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
    </mat-card-header>
    <img mat-card-image src="https://image.tmdb.org/t/p/w500/3VFI3zbuNhXzx7dIbYdmvBLekyB.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
    </mat-card-header>
    <img mat-card-image src="http://image.tmdb.org/t/p/w500/vIWonMqeYRmY95OEk06NvTC1h8N.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
    </mat-card-actions>
  </mat-card>