.container {
  border-radius: 30px;
  background-color: white;
  width: 35rem;
.btn-primary {
    color: white;
    background-color: #fdc9ce;
    border-color: #fdc9ce;
    &:hover {
      color: #fdc9ce;
      background-color: white;
      border-color: #fdc9ce;
    }
  }
  .btn-outline-primary {
    color: #fdc9ce;
    background-color: white;
    border-color: #fdc9ce;
    &:hover {
      color: white;
      background-color: #fdc9ce;
      border-color: #fdc9ce;
    }
  }
  }