<div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link " aria-current="true" [routerLink]="['/account']">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/account/update']">Update</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/account/orders']">Orders</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
        <h1 class="text-center">YOU'VE GOT NO ORDERS YET</h1>
        <div class="center">
            <button class="btn btn-dark rounded-pill" [routerLink]="['/pages/shop/all']">Start here!</button>
        </div>
    </div>
  </div>

