.card {
  margin-top: 5%;
  margin-bottom: 10%;
  border-color: #D3CEDF;
  .card-header {
    background-color: #F2D7D9;
    .nav-link{
      color: black;
    }
    .active{
      background-color: #D3CEDF;
      border-color: #D3CEDF;
    }
  }
  .card-body {
    padding-top: 7%;
    background-color: #D3CEDF;
    .center {
      margin-top: 5%;
      margin-bottom: 5%;
      position: relative;
      left: 30%;
      .btn-dark {
        background-color: #082032;
        border-color: #082032;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        &:hover {
          color: #082032;
          background-color: white;
          border-color: #082032;
          box-shadow: 0px 5px 10px #082032;
          transform: translateY(-3px);
        }
      }
    }
  }
}
