.card{
    margin-top:10%;
    margin-bottom:10%;
    .card-body{
        margin-top:5%;
        
        .center{
            margin-top:5%;
            margin-bottom:5%;
            position: relative;
            left: 30%;
            .btn-dark{
                &:hover {
                    color: black;
                    background-color: white;
                    border-color: black;
                  }
            }
        }
    }
}